body {
margin: 0px;
padding: 0px;
font-family:Verdana,Tahoma,Arial,sans-serif;
font-weight:normal;
font-size:12px;
background-color:CECECE;
}

#alles {
background-color: #FFFFFF;
color: #303030;
position: absolute;
margin-top: 15px;
width: 900px;
margin-left: -450px;
left: 50%;
}
#header {
clear: both;
margin: 0 0 0 0;
padding: 0;
height: 50px;
}
#kopfzeile {
margin: 0 0 0 0;
line-height: 170%;
border-bottom: 15px #808080;
}

#content {
margin: 0px 0px 10px 10px;
height:400px;
padding: 0 30px 40px 30px;
line-height: 140%;
text-align: left;
}
#content p {
color:#4F4F4F;
margin: 0 16px 0px 0;
font-size: 12px;
font-weight:normal;
}

#content h1 {
color:#5F5F5F;
font-size: 16px;
margin: 0 0 10px 0;
}

#content h2 {
color:#5F5F5F;
font-size: 14px;
margin: 15px 0 10px 0;
}

